<!DOCTYPE html>

    <meta charset="utf-8">
    <title></title>


<link rel="stylesheet" href="master.css" media="screen" title="no title" charset="utf-8">

<html>

  <body>

<div class="whole">

<div class="top">
  <h1>PLANET EXPRESS LOGS</h1>
<br>
          <h1>Total revenue generated $<%= revenue %></h1>
<br>
<h4>Totals for each planet</h4>

<table style="width:40%" table align="center">
      <tr>
        <td><strong>Earth</strong></td>
        <td><strong>Moon</strong></td>
        <td><strong>Mars</strong></td>
        <td><strong>Uranus</strong></td>
        <td><strong>Jupiter</strong></td>
        <td><strong>Pluto</strong></td>
        <td><strong>Saturn</strong></td>
        <td><strong>Mercury</strong></td>
      </tr>
      <tr>
        <td>$<%= earthtotal %></strong></td>
        <td>$<%= moontotal %></strong></td>
        <td>$<%= marstotal %></strong></td>
        <td>$<%= uranustotal %></strong></td>
        <td>$<%= jupitertotal %></strong></td>
        <td>$<%= plutototal %></strong></td>
        <td>$<%= saturntotal %></strong></td>
        <td>$<%= mercurytotal %></strong></td>
      </tr>
      </table>




        </div>




<div class="wrapper">


<div class="middleleft">

<br><br>


      <table style="width:100%">
        <tr>
          <td><strong>Pilot</strong></td>
          <td><strong>Destination</strong></td>
          <td><strong>Crates</strong></td>
          <td><strong>Money</strong></td>
        </tr>

        <% fry.each do |fry| %>
        <tr>
          <td>Fry</td>
          <td><%=fry["Destination"] %></td>
          <td><%=fry["Crates"] %></td>
          <td>$<%=fry["Money"] %></td>
        </tr>
        <% end %>

        <% amy.each do |amy| %>
        <tr>
          <td>Amy</td>
          <td><%=amy["Destination"] %></td>
          <td><%=amy["Crates"] %></td>
          <td>$<%=amy["Money"] %></td>
        </tr>
        <% end %>

        <% bender.each do |bender| %>
        <tr>
          <td>Bender</td>
          <td><%=bender["Destination"] %></td>
          <td><%=bender["Crates"] %></td>
          <td>$<%=bender["Money"] %></td>
        </tr>
        <% end %>

        <% leela.each do |leela| %>
        <tr>
          <td>Leela</td>
          <td><%=leela["Destination"] %></td>
          <td><%=leela["Crates"] %></td>
          <td>$<%=leela["Money"] %></td>
        </tr>
        <% end %>

      </table>
      <h3>Pilot Bonuses (10% of Sales)</h3>
      <li>Fry made <%= frytotal %> trips and made $<%= frybonus %> as a bonus.</li><br>
      <li>Amy made <%= amytotal %> trips and made $<%= amybonus %> as a bonus.</li><br>
      <li>Bender made <%= bendertotal %> trips and made $<%= benderbonus %> as a bonus.</li><br>
      <li>Leela made <%= leelatotal %> trips and made $<%= leelabonus %> as a bonus.</li><br>




    </div>




<div class="middleright">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Pilot', 'Revenue Generated'],
          ['Fry',     <%= fryrevenue %>],
          ['Amy',      <%= amyrevenue %>],
          ['Bender',  <%= benderrevenue %>],
          ['Leela', <%= leelarevenue %>],

        ]);

        var options = {
          title: 'Pilot Revenue Generated'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <div id="piechart" style="width: 100%; height: 500px;"></div>
  </div>



</div>

<div class="bottom">

        <img src="http://1.bp.blogspot.com/-qaC9KUJcA40/UAnrkJXm4WI/AAAAAAAABWs/Jn_xdxJYHCY/s1600/Animated_Zoidberg.gif">



      </div>

      </div>


  </body>
</html>
